body {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    display: inline;
}

table {
    border-collapse: collapse;
    width: 95%;
    text-align: center;
    margin: 20px auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #1B1C1B;
    color: white;
}


a {
    text-decoration: none;
}

main{
    border: 1px solid #000;
    border-radius: 10px;
}

.add {
    border: 2px solid #34fa2d;
    color: #34fa2d;
    padding: 5px;
    float: right;
}

.container {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

.pagenum {
    text-align: center;
    background-color: #f5f5f5;
    color: #6a6a6b;
    border-radius: 0 0 10px 10px;
}

p{
    margin: 0;
    padding: 8px;
}

.edit {
    color: rgb(30, 48, 80);
}

.delete {
    color: red;
}
